//coverpage

.coverpage {
  background: url(asset-path("octave-budding-feature.png")) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
}

.issue-index-article-thumbnail {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
}

.post-image {
  img {
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

.branding {  
  width: 100px;
  height: 100px;
  @include breakpoint(small) {
    width: 75px;
    height: 75px;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
}

img.landing {
  @include center-background-image; 
}