.issue-index {
  margin-top: 0rem;
}

.post-header {
  margin-bottom: 2rem;
}

.post-body {
  margin-top: 2rem;
}

.post {
  &-meta {
    margin-bottom: 1rem;
  }
  &-image {
    width: 100%;
  }
  &-intro {
    // &.spice {background: lighten($spice, 10%);}
    // &.goose {background: lighten($goose, 10%);}
    // &.monsoon {background: lighten($monsoon, 10%);}
    // &.gold {background: lighten($gold, 10%);}
    // &.gray {background: $gray-warm;}
    // &.olive {background: $olive;}
    @include breakpoint(small) {
      margin: 0rem -1rem;
    }
    @include breakpoint(medium) {
      margin: 0rem -1rem;
    }
  }
}

// related list

.post-related {
  &-list {
    margin-top: 2rem;
  }
  &-articles {
    list-style: none;
    display: inline-block;
    margin-left: 0;
    margin-right: 1rem;
    float: left;
    li {
      margin-left: 0;
    }   
  }
}
// issue index

li.issue-index {  
  &-article {
    padding-top: 0.5rem;    
  }
}

.issue-index {
  background: lighten($goose, 10%);
  &-intro {
    height: 1rem;
  }
  &-list {
  }
  &-article {
    padding-top: 1rem;
    // background: lighten($goose, 10%);
    // background: $goose-light;
    // padding-right: 0 !important;
    // padding-left: 0 !important;    
    // &.spice {background: lighten($spice, 10%);}
    // &.goose {background: lighten($goose, 10%);}
    // &.monsoon {background: lighten($monsoon, 10%);}
    // &.gold {background: lighten($gold, 10%);}
    // &.olive {background: $olive;}
    @include breakpoint(medium) {
      // height: 350px !important;
    }
    @include breakpoint(large) {
      // height: 500px !important;
    }    
    &-body {
    } 
    &:hover {
      opacity: 0.9;
    }
    &-thumbnail {
    }
    &-body {
      padding-top: 1rem;
    }
    &-title {
    }
    &-teaser {
    }
  }
}

